In [8]:
import pandas as pd
import numpy as np

In [3]:
chicago = pd.read_csv('chicago.csv')
chicago.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [4]:
stations = []
stations.extend(chicago['Start Station'].to_list())
stations.extend(chicago['End Station'].to_list())
print(len(stations))

600000

In [5]:
stations_dict = dict(zip(stations, [stations.count(i) for i in stations]))
print(stations_dict)

KeyboardInterrupt:

In [ ]:
def common_month():
    m_series = chicago['Start Time'].str[5:7].value_counts()
    return m_series[m_series == max(m)].index[0]

In [ ]:
months = chicago['Start Time'].str[5:7].value_counts()
m = months[months == np.max(months)].index[0]
print(m)

In [ ]:
%%timeit
months = chicago['Start Time'].str[5:7].value_counts()
months[months == max(months)].index[0]

In [11]:
new_york = pd.read_csv('new_york_city.csv')
new_york.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [12]:
new_york = pd.read_csv('new_york_city.csv')
new_york.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      299308 non-null  object
 7   Gender         270791 non-null  object
 8   Birth Year     271780 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [9]:
washington = pd.read_csv('washington.csv')
washington.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber

In [13]:
washington.loc[washington['Start Time'].str[5:7] == '04']

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
10,854729,2017-04-17 02:50:51,2017-04-17 03:05:17,866.689,37th & O St NW / Georgetown University,37th & O St NW / Georgetown University,Customer
11,721887,2017-04-08 01:12:48,2017-04-08 01:52:33,2385.411,10th & G St NW,5th St & Massachusetts Ave NW,Customer
18,679837,2017-04-03 10:22:19,2017-04-03 10:26:11,231.952,20th & Crystal Dr,6th & S Ball St,Subscriber
20,746605,2017-04-09 11:05:42,2017-04-09 11:26:44,1261.363,Henry Bacon Dr & Lincoln Memorial Circle NW,Smithsonian-National Mall / Jefferson Dr & 12t...,Customer
...,...,...,...,...,...,...,...
299986,806988,2017-04-13 11:54:34,2017-04-13 12:18:57,1462.967,USDA / 12th & Independence Ave SW,4th & East Capitol St NE,Customer
299990,776923,2017-04-11 11:11:57,2017-04-11 11:40:55,1738.345,1st & O St NW,8th & O St NW,Subscriber
299993,894445,2017-04-20 05:50:30,2017-04-20 06:10:35,1205.379,8th & H St NW,13th & H St NE,Customer
299995,945535,2017-04-26 03:12:14,2017-04-26 03:41:19,1745.528,Lincoln Memorial,Jefferson Dr & 14th St SW,Customer
299998,977621,2017-04-28 07:17:47,2017-04-28 07:56:31,2324.170,Jefferson Dr & 14th St SW,Washington & Independence Ave SW/HHS,Customer